body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    color: rgb(0, 0, 0);
    
}
header {
    background-color:rgb(16, 55, 184);
    color:white;
}
nav {
    color:rgb(205, 218, 34)
}

.conte{
   margin: 0px;
   background-color: rgb(255, 255, 255);

}
h2 {
    
    background-color: rgb(45, 126, 146);
    text-align: center;
    font-size:xx-large;
    color: rgb(255, 255, 255);
    

}
.formu{
    width: 90%;
    max-width: 700px;
    margin: auto;
    border:  rgb(45, 126, 146) solid;
    border-radius: 10px;
}




